<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darkdeveloper.appointmentbooking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppointmentService" />
        <activity android:name=".SP_OilChange" />
        <activity android:name=".SP_BatteryReplacement" />
        <activity android:name=".SP_Tunning" />
        <activity android:name=".SP_EngineService" />
        <activity android:name=".SP_BrakeService" />
        <activity android:name=".SP_DetailCheckup" />
        <activity android:name=".VehicleCompany" />
        <activity android:name=".HondaYear" />
        <activity android:name=".HyundaiYear" />
        <activity android:name=".MazdaYear" />
        <activity android:name=".SuzukiYear" />
        <activity android:name=".ToyotaYear" />
        <activity android:name=".HondaModel" />
        <activity android:name=".HyundaiModel" />
        <activity android:name=".MazdaModel" />
        <activity android:name=".SuzukiModel" />
        <activity android:name=".ToyotaModel" />
        <activity android:name=".SubmitAppointment"></activity>
    </application>

</manifest>